<nav class="navbar bg-body-tertiary fixed-top">
    <div class="container-fluid">
        <h2 class="headline">ჩემი აპლიკაცია</h2>
        <button class="navbar-toggler mybutton" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-start myoffcanvas" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">ნავიგაცია</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <div class="profile">
                            <img src="../assets/images/profile.png" alt="profile">
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="myownlink" routerLink="/">მთავარი</a>
                    </li>
                    <li class="nav-item">
                        <a class="myownlink" routerLink="/informacia">ინფორმაცია</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="myownlink" routerLink="/contact">კონტაქტი</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>