<div class="contaxtbox">
   <h2>მოგვაწოდეთ თქვენი ინფორმაცია</h2>
<form>
    <div class="col">
      <div class="row">
        <input type="text" class="form-control" placeholder="სახელი">
      </div>
      <div class="row">
        <input type="text" class="form-control" placeholder="გვარი">
      </div>
    </div>
    <div class="form-group">
        <select class="form-control" id="exampleFormControlSelect1">
            <option disabled selected>აირჩიეთ ქალაქი</option>
          <option>თბილისი</option>
          <option>ბათუმი</option>
          <option>გორი</option>
          <option>რუსთავი</option>
          <option>ქუთაისი</option>
        </select>
      </div>
      <button type="submit" class="btn btn-light">გაგზავნა</button>
  </form>
</div>
